@import url("./card.css");
* {
       font-family: "SF Pro Display";
       margin: 0;
}
.navbar {
       width: 100%;
       background-image: linear-gradient(to right, #434343 0%, black 100%);
       display: flex;
       color: #FFF;
       line-height: 70px;
}
.brand {
       width: 50%;
       padding-left: 50px;
}
.nav-link {
       width: 50%;
       display: flex;
       justify-content: space-around;
       padding-right: 50px;
}

.nav-link a {
       text-decoration: none;
       color: #FFF;
}

.cardss {
       width: 100%;
       display: flex;
       justify-content: space-around;
}